

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('robot.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white; /
}

.content1 {
    background-color: rgba(0, 0, 0, 0.7); 
    padding: 20px;
    max-width: 500px;
    margin: 100px auto;
    border-radius: 10px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
    font-size: 1.1em;
}

input[type="text"],
input[type="email"],
input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
}

input[type="submit"] {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1.2em;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #218838;
}

a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #bbb;
    text-decoration: none;
}

a:hover {
    color: white;
}
